body {
  font-family: Arial, sans-serif;
}
.title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title img {
  width: 200px;
}

.exchange-rates-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

.exchange-rates-table th,
.exchange-rates-table td {
  border: 1px solid #dddddd;
  padding: 8px;
}

.exchange-rates-table th {
  background-color: #f2f2f2;
}

.highlight {
  background-color: #87cefa;
}
